<script type='text/javascript'>
// These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
$(function() {
    Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});

 </script>

<% content_for :title do %>My awesome incredible dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello Vinh" data-text = "Whats's up?"data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="hvv_jenfelderallee" data-view="List" data-title="HVV: Jenfelder Allee"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="hvv_schweidnitzerstr" data-view="List" data-title="HVV: Schweidnitzer Straße"></div>
    </li>


  </ul>
  <center><div style="font-size: 12px">...</div></center>
</div>
