<script type='text/javascript'>
// These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
$(function() {
    Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});

 </script>

<% content_for :title do %>My awesome incredible dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="" data-text = "Whats's up?"data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hvv_lohmuehlenstr" data-view="List" data-title="HVV: Lohmühlenstrasse"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hvv_hammerbrook" data-view="List" data-title="HVV: S3 Hammerbrook"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hvv_berlinertor" data-view="List" data-title="HVV: Berliner Tor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="abc" data-view="Meter" data-title="Memory Usage" data-min="0" data-max="0"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">...</div></center>
</div>

